/* cita https://gitlab.com/SoengSouy/admin_dashboard_bootsrap_v19_n */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --purple: #BC8CF2;
    --black: #000000;
    --white: #F7F5F2;
    --grey: #DFDFDE;
}

body{
    background-color: rgb(0, 0, 0);
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
-webkit-transition: all 0.4s linear;
       -moz-transition: all 0.4s linear;
         -o-transition: all 0.4s linear;
  	        transition: all 0.4s linear;

             

}



li, a, button {
font-family: 'Roboto';
font-weight: 900;
font-size: 20px;
text-decoration : none;
color: var(--purple);
}


header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
}

header img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}



.nav__title{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 900;
    color: white;
    margin-right: 600px;
    cursor: pointer;
   
}



.nav_links{
    list-style: none;
    

}

.nav_links li{
    display: inline-block;
    margin: 0 20px;
    
}

.nav_links li a {
    transition: all 0.3s ease 0s;
  
}

.nav_links li a:hover {
    color: var(--white);
}

.box_container{
    padding: 1.5rem 10%;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-wrap: nowrap;
    gap: 7rem;
}

.image{
    text-align: center;
    -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}
.image img{
    padding: 0%;
    height: 30rem;
    width: 30rem;
    
}
.content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

h2{
    color:azure
}

.content h2{
    font-size: 3rem;
    font-weight: 400;
    color: var(--purple);
    
}

.content h1{
    font-size: 4rem;
    color: var(--white);
    padding: 1rem 0;
    text-transform: none;
}

.content h1 span{
    color: var(--purple);

}

.content p{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--white);
    padding-bottom: 2rem;
    line-height: 1.5;
    
}

.text{
    display: flex;
    flex-direction: column;
    
}

.btn{
    
    margin-right: auto;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    color: var(--purple);
    background-color: transparent;
    border: 0.2rem solid var(--purple);
    

    
}


.btn:hover{
    color: var(--white);
    background-color: var(--purple);
    cursor: pointer;
}

/* Testimony */

main {
    font-family: 'Poppins', sans-serif;
}

.testimony{
    background-color: f#000000;
}

.testimony__container{
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: #BC8CF2;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 5px;
}

.testimony__review{
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 5px;
}

.testimony__arrow{
    width: 60%;
    margin: 0 auto;
    cursor: pointer;
}

.subtitle {
    color: #F7F5F2;
    /* color: var(--color-title); */
    font-size: 2rem;

    margin-bottom: 25px;
}

@media (max-width:800px){
    .testimony__container{
        grid-template-columns: 50px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .testimony__img{
        width: 200px;
        height: 200px;
        
    }
}

/* QUESTIONS */

/* Questions */

.questions{
    text-align: center;
}

.questions__paragraph {
    line-height: 1.7;
    color: #F7F5F2;
}
.questions__container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 75px;
    padding-right: 75px;
}

.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454D4;
    border-radius: 6px;
}

.questions__padding--add{
    padding-bottom: 30px;
}

.questions__answer{
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: white;
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition:  transform .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    transition: height .3s;
    color: white;
}

.questions__img{
    display: block;
}

.questions__copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
    color: white;
}

input[type=text], select {
    width: 500px;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.description {
    height: 200px;
}

label {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 90%;
    text-align: center;
    font-size: 20px
}

th {
    background-color: #000000;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    color: white;
}